:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-bg: #f0f4f8;
  --color-btn: #008bfe;
  --color-btn-hover: #006fcb;
  --color-like: #008bfe;
  --color-answer-right: #09bb00;
  --color-answer-wrong: #d00303;

  --font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body,
html {
  min-height: 100dvh;
  color: var(--color-primary);
  background: var(--color-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
